
/* Your CSS Code here. */
.items1{
	width:400px;
	height:200px;
	background-color:green;
   font-size:40px;
display:inline-block;



}
.items2{
	width:400px;
	height:200px;
  background-color:red;

 font-size:40px;
display:inline-block;


}
.items3{
	width:400px;
	height:200px;
 background-color:blue;
 font-size:40px;
display:inline-block;



}

.holder{

display:flex;
flex-wrap:wrap;
justify-content:center;
}



